@use 'global'as *;

.cardInner {
  max-width: 1000px;
  width: 90%;
  margin-inline: auto;
  @include mq() {
    max-width: 300px;
    width: 80%;
  }
}

.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  // gapを使うと中身の高さが崩れる 質問してみる
  // gap: 50px;
  // marginを使用してみる
  column-gap: 40px;
  margin-bottom: -50px;
  @include mq() {
    grid-template-columns: 1fr;
  }
}
