@use "global" as *;

.titleInner {
  margin-top: 60px;
}

.cardInner {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 1000px;
  padding: 0 25px;
  margin: 60px auto 60px;
  @include mq() {
    max-width: 400px;
    padding: 0 15px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 4%;
  row-gap: 40px;
  @include mq() {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.card {
  display: contents;
}


.link {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  row-gap: 13px;
}
