@use "../../styles/global/" as *;

.homeIcon {
  @include mq() {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

.lists {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 50px;
  @include mq() {
    gap: 10px;
    height: 40px;
  }
}

.list {
  &:not(:first-child)::before {
    content:">";
    display: inline-block;
    margin-right: 20px;
    @include mq() {
      margin-right: 10px;
    }
  }
  @include mq() {
    font-size: 14px;
  }
}

.link {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
