@use "../../styles/global/" as *;

.list {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  row-gap: 13px;
  margin-bottom: 50px;
}

.img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.date {
  font-size: 12px;
}

.title {
  font-size: 18px;
}

.category {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryItem {
  border: solid #333 1px;
  padding: 7px 11px;
  font-size: 12px;
}


.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 任意の行数を指定 */
}
