@use '../../styles/global/' as *;

.header {
  height: 50px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 25px;
  margin-inline: auto;
  height: inherit;
  @include mq() {
    padding-left: 16px;
    padding-right: 0;
  }
}

.logo {
  font-size: 18px;
}
